</!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/site.css" rel="stylesheet" />

    <title>Form</title>
</head>
<body>
    <div class="text-center">
        <h1>Вы подтвердили почту </h1>
        <h3>Возвращайтесь обратно на сайт и кайфуйте </h3>
    </div>

</body>

</html>