@{
    ViewData["Title"] = "Ошибка";
}

<div style="width: 100%;
height: 100%;
position: fixed;
top: 0;
left: 0;
display: flex;
align-items: center;
align-content: center;
justify-content: center;
overflow: auto;">
    <div>
        <h1>@ViewData["Title"]</h1>
        <h2>
            Не удалось сбросить пароль
        </h2>
    </div>
</div>
